@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: "Open Sans", sans-serif;
font-family: "Raleway", sans-serif; */

/* Styling for the basic html tags */
@layer base {
  /* Basic presets */
  *,
  *::before,
  *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    box-sizing: border-box;
  }
  body {
    text-rendering: optimizeLegibility;
    font-family: "Open Sans", sans-serif;
    /* font-weight: 400; */
  }
  img {
    max-width: 100%;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style-type: none;
  }
}

/* Styles for elements selected using classes or id */
@layer components {
  .hero {
    background-image: linear-gradient(
        hsla(217, 27%, 13%, 0.955),
        hsla(217, 27%, 13%, 0.848)
      ),
      url(../images/bg-curvy-mobile.svg);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
  }
  /* Header section */
  .main-heading,
  .subheading {
    font-family: "Raleway", sans-serif;
  }
  .txt {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
  }

  /* Styling the works btn */
  .works-btn {
    border-bottom: 1px solid hsl(176, 68%, 64%);
  }
  .works-btn img {
    display: inline-block;
  }

  /* Quotes img */
  .quotes-img {
    position: absolute;
    top: -1rem;
    left: 0;
    z-index: -1;
  }

  /* Styling the social links */
  .social-link {
    padding: 0.5rem;
    border: 1px solid #fff;
    border-radius: 50%;

    transition: all 0.2s ease;
  }
  .social-link svg {
    fill: #fff;
    height: 1rem;
    width: 1rem;

    transition: all 0.2s ease;
  }

  @media screen and (min-width: 900px) {
    .btn:hover {
      opacity: 0.8;
    }
    .social-link:hover {
      border: 1px solid hsl(176, 68%, 64%);
    }
    .social-link:hover > svg {
      fill: hsl(176, 68%, 64%);
    }
    .hero {
      background-image: linear-gradient(
          hsla(217, 27%, 13%, 0.955),
          hsla(217, 27%, 13%, 0.848)
        ),
        url(../images/bg-curvy-desktop.svg);
      background-position: bottom;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
